/* entidades.css */

.card-title {
    font-weight: 600;
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.card:hover {
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}

.ver-mas {
    margin-top: 0.5rem;
}
