:root {
    --bs-primary: #553DF2;
    --bs-secondary: #39BF68;
}
.photo-preview {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: .5rem;
    border: 2px solid var(--bs-primary);
}
.map-container {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: .5rem;
    margin-bottom: .5rem;
}
